<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DFC - Deba Food Center </title>
        <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap"
        rel="stylesheet">
        <link rel = "icon" type = "image/x-icon" href = "icons/pizza.ico">
        <link rel = "stylesheet" href = "css/main.css">
    </head>
    
    <body>
        <div class = 'd'> </div>
        <ul class = 'b'> 
            <li> <img class = 'c' src = 
    'https://gdj-inr5u0ip5pewom.stackpathdns.com/wp-content/uploads/2022/02/best-logos-2020-gs-jj.jpg'> </li>
            <li> Home </li>
            <li> Services </li>
            <li> About </li>
            <li> Contact Us </li>
        </ul>
        <img src = 'photos/b.jpg' class='a'>
        <div class = 'aa' id = 'e'> Welcome to food items 
        </div>
        <div class = 'aa' id = 'f'> Welcome to Deba food centre webpage. Get access to the best quality food 
            from here only. Everything from pizza to biriyani is available over here starting at a price of just 
            69. Food centre located at 36A jhill road, kolkata - 711102. We'll be opening another outlet as well
            near Haora as soon as Covid ends. 
        </div>
        <div class = 'g'> 
            <button id = 'btn' class = 'aa'> Order Now </button>
        </div>
        <div class = 'j'> 
            Food Services  
        </div>
        <div class = 'h'> 
            <div id = 'first' class = 'common'>
            <img src = 'https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?ixlib=rb-1.2.1&ixid=MnwxMjA
            3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80' alt = 'image not found'  
            class = 'i'>
            <div id = 'one' class = 'common2'> PIZZAS </div>
            <div id = 'onemore' class = 'common3'>
            No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to 
            choose your toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black 
            olives, fresh tomato, red paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such 
            as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, chicken sausage or chicken 
            tikka- the options are almost endless, anything and everything you can think of that too on top of 
            the crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic 
            hand-tossed crust or a fresh pan pizza. Because just like a pizza, we understand you.
            </div>
            </div>
            <div id = 'second' class = 'common'>
            <img src = 'https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?ixlib=rb-1.2.1&ixid=MnwxMjA
            3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80' alt = 'image not found'
            class = 'i'>
            <div id = 'two' class = 'common2'> PIZZAS </div>
            <div id = 'twomore' class = 'common3'>
            No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to 
            choose your toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black 
            olives, fresh tomato, red paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such 
            as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, chicken sausage or chicken 
            tikka- the options are almost endless, anything and everything you can think of that too on top of 
            the crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic 
            hand-tossed crust or a fresh pan pizza. Because just like a pizza, we understand you.
            </div>
            </div>
            <div id = 'third' class = 'common'>
            <img src = 'https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?ixlib=rb-1.2.1&ixid=MnwxMjA
            3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80' alt = 'image not found' 
            class = 'i'>
            <div id = 'three' class = 'common2'>PIZZAS </div>
            <div id = 'threemore' class = 'common3'>
            No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to 
            choose your toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black 
            olives, fresh tomato, red paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such 
            as pepper barbeque chicken, peri-peri chicken, grilled chicken rasher, chicken sausage or chicken 
            tikka- the options are almost endless, anything and everything you can think of that too on top of 
            the crust of your choice - New hand-tossed crust, wheat thin crust, cheese burst crust, classic 
            hand-tossed crust or a fresh pan pizza. Because just like a pizza, we understand you.
            </div>
            </div>
        </div>
        <div id = 'z'> Thanks for being a part of the magic! </div>
        <script src = 'js/main.js'> </script>
    </body>

</html>
